@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,800;1,300&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

a {
   text-decoration: none;
}

ul, li {
   list-style: none;
}

#i1, #i2, #i3{ display: none;}

.container{
   margin: 0 auto;
   margin-top: 20px;
   position: relative;
   width: 80%;
   user-select: none;
   border: none;
}

.container .slide_img{
   position: absolute;
   width: 100%;
   height: 22.25rem;
}

.container .slide_img img{
   width: inherit;
   height: inherit;
   object-fit: cover;
   border-radius: 2.5rem; 
}

 .prev, .next{
   width: 8%;
   height: inherit;
   position: absolute;
   top:0; 
   color:#F3F4F8;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   z-index: 99;
   transition: .45s;
   cursor: pointer;
   text-align: center;
}

.next{right:2rem;}
.prev{left:0;}

/*label span{
   position: absolute;
   font-size: 80pt;
   top: 50%;
   transform: translateY(-50%);
}*/

.slide_img{z-index: -1;}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three
{z-index: 9;  animation: scroll 1s ease-in-out;}

@keyframes scroll{
   0%{opacity:1;}
   100%{opacity:1;}
}

.slide_img p {
   position: absolute;
   padding: 1rem;
   width: 35rem;
   border-radius: 1rem;
   background: rgba(2, 136, 209, 0.80);
   color: #F3F4F8;
   top: 70%;
   left: 4%;
}

.buscar {
   display: flex;
   padding-top: 30%;
   justify-content: flex-end;
}

.buscar input {
   width: 19.5rem;
   height: 3.125rem;
   border-radius: 5.875rem;
   border: 1px solid #D9D9D9;
   color: #a8a8a8;
   text-indent: 20px;
   padding-left: 30px;
}

.buscar input:focus {
   outline: none;
}

.buscar input::placeholder {
   font-size: 1.125rem;
   color: #D9D9D9;

}

.buscar i {
   font-size: 1.125rem;
   position: relative;
   right: 50px;
   top: 20px;
}

/* NOTICIAS BLOG */

.noticias_blog {
   margin-top: 5rem;
   width: 80%;
}

.container_blog {
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.container_blog img {
   width: 11.25rem;
   height: 11.25rem;
   margin-left: 2.5rem;
   border-radius: 1.25rem;
}

.nome_tag {
   display: flex;
   color: #68CD71;
   text-transform: uppercase;
   font-weight: 700;
}

.titulo {
   color: #0288D1;
   font-size: 1.5rem;
   font-weight: 700;
}

/* PAGINAÇÃO */

.paginacao_container {
   padding-bottom: 3rem;
}
.paginacao_container ul{
   display: flex;
   align-items: center;
   margin-top: 2rem;
}

.paginacao_container li{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 2.375rem;
   height: 2.375rem;
   border: 1px solid #E1E1E1;
   transition: 0.5s;
}

.paginacao_container li:hover{
   opacity: 0.5;
   transition: 0.5s;
}

.paginacao_container li a {
   color: #1D3750;
}