#content{
    width: 100%;
}
.situacao{
    width: 20%;
}

body{
    background: none !important;
    background-color: #eaeaea !important;
    color: #4b4b4b !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-font-smoothing: none !important;
    image-rendering: optimizeQuality !important;
    -ms-interpolation-mode: none !important;
}

#content {
    -moz-box-shadow: #000 0px 0px 0px !important;
    -webkit-box-shadow: #00 0px 0px 0px !important;

    background: none !important;
    border: 0px solid #FFFFFF !important;
    box-shadow: none !important;
    margin: 0px !important;
    padding: none !important;
}

footer{
    display: none;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

:focus {
    outline-color: #fa0;
}

/* Lists */



.list {
    display: grid;
    grid-template-rows: auto minmax(auto, 1fr) auto;
}

.list-items {
    display: grid;
    grid-row-gap: 0.6rem;
}

.lists-container::-webkit-scrollbar {
    height: 2.4rem;
}

.lists-container::-webkit-scrollbar-thumb {
    background-color: #66a3c7;
    border: 0.8rem solid #eaeaea;
    border-top-width: 0;
}

.lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: calc(92vh - 6.5em);
}


.list {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: #52658c;
    max-height: calc(90vh - 10.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.list:last-of-type {
    margin-right: 0;
}

.list-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    padding: 1rem;
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem;
    overflow-y: auto;
}


.list-items li {
    line-height: 1.3;
    background-color: #fff;
    padding: 0.65rem 0.6rem;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
}

.list-items li:last-of-type {
    margin-bottom: 0;
}

.list-items li:hover {
    background-color: #eee;
}

.add-card-btn {
    display: block;
    color: #fff;
    padding: 0.6rem;
    text-align: left;
}

.add-card-btn:hover {
    /*background-color: #7391ce;*/
    color: #fff;
    /*text-decoration: underline;*/
}

.add-list-btn {
    flex: 0 0 27rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #006aa7;
    color: #a5cae0;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 150ms;
    text-align: left;
}

.add-list-btn:hover {
    background-color: #005485;
}

.add-card-btn::after,
.add-list-btn::after {
    content: ' ';
}

.titulo{
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
}

.info{
    text-align: right;
}

.list-title-size{
/*    position: absolute;*/
    color: #fff;
    z-index: 1000000;
    font-size: 20px;
    font-weight: 400;
    top: 131px;
    width: 322px;

}
.qtd {
	text-align: right;
	margin-right: 22px;
	margin-top: 10px;
	margin-bottom: -28px;
	z-index: 9999;
        color: #fff;
}