@media only screen and (max-width: 1024px){

    /* CKEDITOR*/
    div.cke_editor_textoTextArea, 
    div.cke_editor_textoTextAreaVisualizar{
        margin-left: -12px !important;
        padding: 10px 0px 0px 0px !important;
        width: 930px !important;
    }

    /* FIELDSETS COM CKEDITOR*/

    fieldset.teor {
        margin-left: -19px; 
        padding: 0px !important
    }

    fieldset.teor > legend{
        margin-left: 20px !important
    }

    fieldset.ckeditor {
        margin-right: -12px !important;
    }

    /* IMOVEL*/
    fieldset.teor-visualizar-imovel{
        margin-left: -42px !important
    }

    fieldset.endereco {
        margin: 0 10px 30px 10px !important;
    }

    /* ADMINISTRAÇÃO */
    fieldset.administracao {
        margin-left: 5px;
        padding: 5px !important;
        width: 102%;
    }

    div.menu-administracao > div.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-helper-clearfix {
        margin-left: -20px; 
        margin-right: 5px;
        min-width: 120% !important
    }
}
