/*Botoes personalizados do editor - INICIO*/

.font-foxeditor {
    width: 150px !important;
}

.font-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
    background-color: white;
    background-image: none !important;
    border: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
}

.font-foxeditor > label {
    width: 150px; 
    height: 25px;
    padding: 6px 0 0 5px;
}

.font-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    height: 25px;
    margin-left: 135px;
    margin-top: 8px;
    padding: 0 3px;
    position: absolute;
    right: auto;
    width: 15px !important;
}

.font-foxeditor > div.ui-helper-hidden-accessible {
    display: none;
}

.font-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right > span.ui-icon.ui-icon-triangle-1-s {
    background-position: -64px -16px !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 5px -1px !important;
    width: 16px !important;
}

/*tamanho da fonte*/
.tamanhofont-foxeditor {
    width: 80px !important;
}

.tamanhofont-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
    background-color: white;
    background-image: none !important;
    border: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
}

.tamanhofont-foxeditor > label {
    width: 800px; 
    height: 25px;
    padding: 6px 0 0 5px
}

.tamanhofont-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    height: 20px;
    margin-left: 48px;
    margin-top: 3px;
    padding: 0 3px;
    position: absolute;
    right: auto;
    top: auto;
    width: 15px !important;
}

.tamanhofont-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right > span.ui-icon.ui-icon-triangle-1-s {
    background-position: -64px -16px !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px auto 0 !important;
    width: 16px !important;
}

espaçamento 

.espacamento-foxeditor {
    width: 80px !important;
}

.espacamento-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right{
    background-color: white;
    background-image: none !important;
    border: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 0 rgba(0, 0, 0, 0);
    margin-top: 1px;
}

.espacamento-foxeditor > label {
    width: 800px; 
    height: 25px;
    padding: 6px 0 0 5px
}

.espacamento-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
    height: 20px;
    margin-left: 48px;
    margin-top: 3px;
    padding: 0 3px;
    position: absolute;
    right: auto;
    top: auto;
    width: 15px !important;
}

.espacamento-foxeditor > div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right > span.ui-icon.ui-icon-triangle-1-s {
    background-position: -64px -16px !important;
    cursor: pointer !important;
    height: 16px !important;
    margin: 2px auto 0 !important;
    width: 16px !important;
}

.lineSpacing {
    background-image: url("../images/line-spacing-icon.png") !important;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
    float: right !important;
    background-size: 16px !important;
    position: absolute !important;
    text-align: right !important;
    margin-left: -39px !important;
    margin-top: 5px !important;
    z-index: 1
}

.macros-foxeditor {
    background-color: #fff !important;
    background-image: -moz-linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245)) !important;
    display: inline-block !important;
    height: 27px !important;
    position: relative !important;
    top: -9px !important;

    margin-top: 0px !important;
    margin-left: 5px !important;

}

.macrosdialogfoxeditor {
    width: 80% !important;
}

.cke_dialog_body {
    max-height: 500px !important
}

.cke_dialog_contents {
    display: block;
    max-height: 450px !important;
}

.cke_dialog_contents > tbody >tr:first-child {
    display: flex;
}

.cke_dialog_contents > tbody >tr:first-child > td.cke_dialog_contents_body {
    max-height: 377px !important;
    width: 100% !important
}

.cke_dialog_title{
    font-size: 16px !important;
    font-weight: bold !important;
}